{
  "id": "1d57516b",
  "name": "Human presence",
  "description": "Attic light test automation",
  "enabled": true,
  "sensor_triggers": [
    {
      "name": "presence",
      "conditions": [
        {
          "name": "presence",
          "value": false,
          "equality": "="
        }
      ],
      "action": {
        "friendlyname": "Attic light",
        "type": "light",
        "property": "state",
        "data": false,
        "delay": 300000000000
      }
    },
    {
      "name": "presence",
      "conditions": [
        {
          "name": "presence",
          "value": true,
          "equality": "="
        },
        {
          "name": "lux",
          "value": 30,
          "equality": "\u003c="
        }
      ],
      "action": {
        "friendlyname": "Attic light",
        "type": "light",
        "property": "state",
        "data": true
      }
    }
  ]
}