[Unit]
Description=Node-Herder service
Wants=network-online.target
After=network-online.target

[Service]
User=mikeathan
Type=simple
WorkingDirectory=/home/mikeathan/dev/node-herder/core
ExecStart=/home/mikeathan/dev/node-herder/core/nodeherder

Restart=always

[Install]
WantedBy=multi-user.target

