[Unit]
Description=Node-Herder Application Stack
Requires=nodeherder-backend.service nodeherder-frontend.service
After=nodeherder-backend.service nodeherder-frontend.service
