[Unit]
Description=Node-Herder service
Wants=network-online.target
After=network-online.target

[Service]
User=nodeherder
Type=simple
WorkingDirectory=/opt/nodeherder/backend
ExecStart=/opt/nodeherder/backend/nodeherder -port 9080

Restart=always

[Install]
WantedBy=multi-user.target

