[Unit]
Description=Node-Herder service
Wants=network-online.target
After=network-online.target

[Service]
User=mikeathan
Type=simple
WorkingDirectory=/home/mikeathan/dev/node-herder/backend
ExecStart=/home/mikeathan/dev/node-herder/backend/nodeherder -port 9080

Restart=always

[Install]
WantedBy=multi-user.target

