[Unit]
Description=Node-Herder Backend Service
Wants=network-online.target
After=network-online.target
PartOf=nodeherder.target

[Service]
User=nodeherder
WorkingDirectory=/opt/nodeherder/backend
Environment=APP_ENV=production
ExecStart=/opt/nodeherder/backend/nodeherder
Restart=always
RestartSec=5

[Install]
WantedBy=nodeherder.target
