[Unit]
Description=Node-Herder Backend Service
Wants=network-online.target
After=network-online.target

[Service]
User=mikeathan
WorkingDirectory=/home/mikeathan/dev/node-herder/backend
ExecStart=/home/mikeathan/dev/node-herder/backend/nodeherder -port 9080
Restart=always
RestartSec=5

[Install]
WantedBy=nodeherder.target
