:root {
  --surface-ground: #f8f9fa;
  --surface-card: #ffffff;
  --surface-border: #dee2e6;
  --text-color: #212529;
  --text-color-secondary: #6c757d;
}
:root.dark {
  --surface-ground: #121212;
  --surface-card: #1e1e1e;
  --surface-border: #383838;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.60);
}
